.experience-div {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    color: rgb(250, 236, 214);
    align-items: center;
}

.experience-div > h4 {
    margin: 1rem 0 0 0;
}

.experience-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.experience-title > span {
    font-weight: 500;
}