.project-card {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info > a > h4, .project-info > p {
    padding: 0 6rem 0 0;
    margin: 0;
}

.project-img {
    border-radius: 1rem;
    border: 0.2vw solid grey;
    width: clamp(100px, 16vw, 200px);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

