.project-card {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.project-info {
    display: flex;
    flex-direction: column;
}

.project-info > a > h4, .project-info > p {
    padding: 0;
    margin: 0;
}

.project-img {
    border-radius: 1rem;
    border: 0.2vw solid grey;
    width: clamp(100px, 16vw, 200px);
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
    padding: 0 16px; /* padding bem menor */
    }

    .project-card {
        gap: 0.5rem;
    }

    .project-info > a > h4, .project-info > p {
        padding: 0 0.5rem;
        margin: 0;
    }

    .project {
        flex-direction: column; /* imagem em cima */
        text-align: center;
    }

    .project-image {
        width: 100%;
        max-width: 400px;
    }

    .p {
        padding: 1rem;
    }
}