.app {
  position: relative;
  min-height: 100vh;
  background: hsl(221, 26%, 21%);
  overflow-x: hidden;
}

.app:hover:before {
  content: '';
  position: fixed;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background: radial-gradient(
    circle,
    rgba(182, 182, 229, 0.186),
    transparent 30%
  );
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 0;
}

.app > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
    .app:hover:before{
      opacity: 0;
    }
}