.app {
  position: relative;
  min-height: 100vh;
  background: #111a30;
  overflow-x: hidden;
}

.app:hover:before {
  content: '';
  position: fixed;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: radial-gradient(
    circle,
    rgba(53, 55, 114, 0.391),
    transparent 50%
  );
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.3s;
  z-index: 0;
}

.app > * {
  position: relative;
  z-index: 1;
}