article, header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    color: rgb(250, 236, 214);
    align-items: center;
    padding-top: 3rem;
}

header > h1, h3 {
    padding: 0;
    margin: 5px;
}

header > ul {
    gap: 3rem;
    padding-left: 0;
    display: flex;
}

p {
    padding: 0rem 6rem;
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}